.message {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  padding: 40px;
  background-color: $white;
  z-index: 1;

  @media (min-width: $medium) {
    width: 50%;
  }

  h1 {
    &:first-of-type {
      margin-top: 0;
    }
  }

  &__close {
    position: absolute;
    top: 40px;
    right: 40px;
    padding: 10px 0;
    cursor: pointer;

    &::after,
    &::before {
      position: relative;
      content: '';
      display: block;
      height: 2px;
      width: 20px;
      transform: rotate(45deg);
      background-color: $black;
    }

    &::after {
      transform: rotate(-45deg);
      bottom: 1px;
    }




  }

}